body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100vh;
    border: 5px solid ;
}
.clock{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    border: 6px solid black;
    border-radius: 35px;
    background-color: bisque;
    padding: 5px;
}
#display{
    display: flex;
    width: 380px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 4.5rem;
    background-color: white;
}
button{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 12px;
    border: 3px solid black;
    font-size: 2em;
}
#stop{
    background-color: red;
    border: 4px solid black;
    color: white;
}
#reset{
    background-color: aqua;
    border: 4px solid black;
}
#start{
    background-color: rgb(130, 202, 130);
    border: 4px solid black;
    color: white;
}
button:hover{
    cursor: pointer;
}
button:active{
    color: black;
    
}